<!-- sidenav: use it when more menu is needed -->
<!-- <mat-toolbar color="primary" id="toolbar">
  <a mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </a>
  <div id="toolbar-title">
    <h1>hwh's blog</h1>
  </div>
</mat-toolbar>
<mat-sidenav-container id="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list id="menu-list">
      <mat-divider></mat-divider>
      <mat-list-item class="menu-list-item" (click)="goToPage('/blog')">Blog</mat-list-item>
      <mat-list-item class="menu-list-item" (click)="goToPage('/about')">About</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<nav mat-tab-nav-bar id="navbar">
  <a mat-tab-link routerLink="/">Blog</a>
  <a mat-tab-link routerLink="/python-data-formatter">Python Data Formatter</a>
</nav>
<router-outlet></router-outlet>
